.box {
    padding-top: 0;
}

.box-title {
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

.box-list {
    display: flex;
    gap: 30px;
}

.box-thumb {
    position: relative;
}

.box-label {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 70px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-color);
    background: rgba(47, 48, 58, 0.8);
}
